.App {
  padding: 0px;
  text-align: center;
}

.contentsection {
  min-height: 500px;
}

.lighttext {
  color: #888;
}

.pronounced {
  font-size: 12px;
  font-weight: bold;
}

.loader {
  color: rgb(0, 162, 255);
}

.smallfonts {
  font-size: 11px;
}

.mediumfonts {
  font-size: 13px;
}

.tagfonts {
  font-size: 12px;
}

.xs-button {
  padding  : .25rem .4rem;
  font-size  : .875rem;
  line-height  : .5;
  border-radius : .2rem;
}

.bordered {
  border: 1px solid #404040;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.carousel-inner {
  max-height: 500px !important;
}

.carousel-caption {
  text-align: center;
  top: 70%;
  transform: translateY(-50%);
  color: #fff;
}

.sidebar-nav {
  width: 200px;
  text-align: left;
  border-top: 1px solid #ccc;
  margin-top: -10px;
  margin-left: -10px;
}

.sidebar-nav li {
  text-indent: 0;
  line-height: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #404040;
  border-radius: 2px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: white;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #ccc;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 0;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* nav bar test */
.wrapper {
  display: flex;
  align-items: stretch;
}  

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background: #404040;
  color: #fff;
  transition: all 0.3s;  
  max-height: 640px;
  overflow-y: auto;
}

#sidebar .sidebar-header {
  padding: 10px;
  background: #404040;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar ul.components {
  padding: 10px 0;
  border-bottom: 1px solid #404040;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 5px;
  font-size: 1.0em;
  display: block;
  color: #ccc;
}
#sidebar ul li a:hover {
  color: white;
  background: #303030;
  text-decoration: none;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #ccc;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #ccc;
}

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
}

.park-list {
  min-height: 400px;
  max-height: 700px;
  overflow-y: auto;
}

.search-box {
  display: inline;
  margin-left: 40px;
  margin-right: 10px;
}

fa-white {
  color: white;
}